<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

  <nav class="sidebar-nav">

    <a class="sidebar-nav-item{% if page.url == '/process/' %} active{% endif %}" href="{{ site.baseurl }}/process/">Process</a>
    <a class="sidebar-nav-item{% if page.url == '/explore/' %} active{% endif %}" href="{{ site.baseurl }}/explore/">Explore</a>
    <a class="sidebar-nav-item{% if page.url == '/model/' %} active{% endif %}" href="{{ site.baseurl }}/model/">Model</a>

  </nav>

  <div class="sidebar-item">
    <p>
      &copy; {{ site.time | date: '%Y' }}.
    </p>
  </div>
</div>
